doctype html
html
  head
    title 
    meta(name="description" content="")
    meta(charset="utf-8")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")

    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content=", width=device-width, initial-scale=1")

    base(href="/")
    link(rel="shortcut icon", href="/img/favicon.ico")
    link(rel="apple-touch-icon", href="/img/favicon.ico")
    link(rel="stylesheet", href="/css/main.css")
    
    //- script(src='/js/vendors.min.js')

  body

    block content

    script(src='/js/main.min.js')
